pipeline/sql_adls-gen2.json
{
	"name": "sql_adls-gen2",
	"properties": {
		"activities": [
			{
				"name": "Data copy",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Last_load",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "LatestLoad",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "Select * from dbo.FactBookings \nwhere booking_date > '@{activity('Last_load').output.firstRow.lastload}'\nAND booking_date <= '@{activity('LatestLoad').output.firstRow.latestload}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "booking_id",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "booking_id",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "passenger_id",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "passenger_id",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "flight_id",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "flight_id",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "airline_id",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "airline_id",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "origin_airport_id",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "origin_airport_id",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "destination_airport_id",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "destination_airport_id",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "booking_date",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "booking_date",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ticket_cost",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 10
								},
								"sink": {
									"name": "ticket_cost",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "flight_duration_mins",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "flight_duration_mins",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "checkin_status",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "checkin_status",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Parquet1",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_now",
					"value": {
						"value": "@utcNow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Last_load",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_lookup",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "LatestLoad",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "Select MAX(booking_date) as latestload \nfrom dbo.FactBookings",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "watermark",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Data copy",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"additionalColumns": [
							{
								"name": "lastload",
								"value": {
									"value": "@activity('LatestLoad').output.firstRow.LatestLoad",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "Json2",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_lookup",
						"type": "DatasetReference"
					}
				]
			}
		],
		"parameters": {
			"v_now": {
				"type": "string"
			}
		},
		"variables": {
			"v_now": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-08-15T06:47:54Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}